.news-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 100px;
    margin-bottom: 100px;
}
.news-block__item {}

.news-block__image {
    margin-bottom: 20px;
}
.news-block__date {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    background: url(../image/calendar.svg) no-repeat left bottom;
    padding-left: 25px;
    margin-bottom: 20px;
}
.news-block__title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    height: auto;
}

@media (max-width: 991px) {
    .news-block {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .news-block__title {
        font-size: 30px;
        line-height: 30px;
    }
}
@media (max-width: 575px) {
    .section-title {
        font-size: 30px;
        line-height: 30px;
    }
    .news-block__title {
        font-size: 24px;
        line-height: 26px;
    }
}

.pagination-block {
    margin-bottom: 110px;
}

/* news detail */
.intro-image {
    display: block;
    margin-bottom: 20px;
}
.intro-block {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 20px;
}

.intro-block__data,
.intro-block__title {
    grid-column: 2 / span 6;
}
.intro-block__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.intro-block__data {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.intro-block__date,
.intro-block__reading-time {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    padding-left: 25px;
    margin-bottom: 20px;
}
.intro-block__date {
    background: url(../image/calendar.svg) no-repeat left bottom;
}
.intro-block__reading-time {
    background: url(../image/time.svg) no-repeat left bottom;
}

/* text block */
.text-block {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 20px;
    margin-bottom: 60px;

    font-size: 18px;
    line-height: 28px;
    font-weight: 400;

}
.text-block h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}
.text-block p:not(:last-child) {
    margin-bottom: 10px;
}
.text-block blockquote {
    padding: 30px 0 30px 60px;
    margin: 30px 0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    font-size: 24px;
    line-height: 32px;
    font-style: italic;
    font-weight: 400;
}
.text-block ol {
    list-style: decimal;
    padding-left: 16px;
}
.text-block ul {
    list-style: disc;
    padding-left: 16px;
}
.text-block b {
    font-weight: 500;
}
.text-block__wrapper {
    grid-column: 2 / span 6;
}

/* grid block */
.grid-6-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
}
.grid-2-block {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}
.grid-1-block {
    display: block;
    margin-bottom: 60px;
}


/* slider block */
.slider-block {
    display: grid;
    position: relative;   
    margin-bottom: 60px; 
}
.product-slider {
    display: block;
    height: auto;
    width: 100%;
}
.product-slider__button-prev,
.product-slider__button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 10;
    cursor: pointer;
}
.product-slider__button-prev {
    right: auto;
    left: -25px;
    background: url(../image/button_prev.svg) no-repeat; 
}
.product-slider__button-next {
    right: -25px;
    left: auto;
    background: url(../image/button_next.svg) no-repeat;
}
@media (max-width: 991px) {
    .product-slider__button-prev,
    .product-slider__button-next {
        display: none;
    }
}